<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>Microfrontends</title>
    <style>
        html {
            font-family: 'Roboto', sans-serif;
        }
        main {
            margin: 1rem;
        }
        h1 {
            font-weight: normal;
        }
        a {
            color: inherit;
        }
    </style>
</head>
<body>
    {{{ header }}}
    <main>
        <h1>Microfrontends</h1>
        <ul>
            <li><a href="http://localhost:4000/">http://localhost:4000/</a></li>
            <li><a href="http://localhost:4000/Manuel">http://localhost:4000/Manuel</a></li>
        </ul>
    </main>
</body>
</html>
