<style>
  .header {
    position: relative;
    display: flex;
    color: #fff;
    background: #8bc72a;
    height: 60px;
    padding: 0 1em;
    box-sizing: border-box;
    font-size: 16px; /* Reset */
  }

  .header__list,
  .header__user {
    align-items: center;
    display: flex;
  }

  .header__list {
    flex-grow: 1;
  }

  .header__link {
    margin: 1px 1em -1px;
    font-size: 1em;
    line-height: 1.4;
    color: inherit;
    text-decoration: none;
    border-bottom: 2px solid transparent;
  }

  .header__link:hover {
    border-color: #fff;
  }

  .header__button {
    cursor: pointer;
  }

  .header__menu {
    position: relative;
  }
</style>
<div class="header">
  <div class="header__list">
    <a class="header__link" href="/">Page 1</a>
    <a class="header__link" href="/">Page 2</a>
    <a class="header__link" href="/">Page 3</a>
    <a class="header__link" href="/">Page 4</a>
  </div>
  <div class="header__user">
    {{#unless username}}
      <a class="header__link" href="/login">Login</a>
    {{else}}
      <a class="header__link" href="/profile">{{ username }}</a>
      <svg class="header__button" viewBox="0 0 17 17" width="30" height="30">
        <ellipse fill-rule="evenodd" clip-rule="evenodd" cx="4.5" cy="4.5" rx="1.2" ry="1.2" fill="currentColor"></ellipse>
        <ellipse fill-rule="evenodd" clip-rule="evenodd" cx="8.5" cy="4.5" rx="1.2" ry="1.2" fill="currentColor"></ellipse>
        <ellipse fill-rule="evenodd" clip-rule="evenodd" cx="12.5" cy="4.5" rx="1.2" ry="1.2" fill="currentColor"></ellipse>
        <ellipse fill-rule="evenodd" clip-rule="evenodd" cx="4.5" cy="8.5" rx="1.2" ry="1.2" fill="currentColor"></ellipse>
        <ellipse fill-rule="evenodd" clip-rule="evenodd" cx="8.5" cy="8.5" rx="1.2" ry="1.2" fill="currentColor"></ellipse>
        <ellipse fill-rule="evenodd" clip-rule="evenodd" cx="12.5" cy="8.5" rx="1.2" ry="1.2" fill="currentColor"></ellipse>
        <ellipse fill-rule="evenodd" clip-rule="evenodd" cx="4.5" cy="12.5" rx="1.2" ry="1.2" fill="currentColor"></ellipse>
        <ellipse fill-rule="evenodd" clip-rule="evenodd" cx="8.5" cy="12.5" rx="1.2" ry="1.2" fill="currentColor"></ellipse>
        <ellipse fill-rule="evenodd" clip-rule="evenodd" cx="12.5" cy="12.5" rx="1.2" ry="1.2" fill="currentColor"></ellipse>
      </svg>
      <div class="header__menu"></div>
    {{/unless}}
  </div>
</div>
<script src="{{ baseUrl }}/header.js" defer></script>
